on:
  pull_request:

jobs:
  update_con_nf_branch_and_build:
    runs-on: ubuntu-latest
    name: Update con-nf branch and build project
    steps:
      - name: checkout project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: install elan
        run: |
          set -o pipefail
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
          ~/.elan/bin/lean --version
          echo "$HOME/.elan/bin" >> $GITHUB_PATH

      - name: install python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: lean deps
        run: |
          git clone https://github.com/PatrickMassot/leanblueprint.git
          pip install ./leanblueprint

      - name: build project
        run: |
          leanproject get-mathlib-cache
          lean --make src
